@import "tailwindcss";
@plugin "daisyui";

.kosugi-maru-regular {
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-orange-app1 {
  color: #ff7b00;
}

.text-orange-app2 {
  color: #964800;
}

.bg-app1 {
  background-color: #141414;
}

.bg-app2 {
  background-color: #ff7b00;
}

.user-btn:hover {
  background-color: #141414;
}

.user-btn-lgt:hover {
  background-color: #c7c7c7;
}

.user-btn-lgt:focus {
  background-color: #c7c7c7;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Disable scrollbars globally */
}

.app-input {
  border-color: #ff7b00;
  background-color: transparent;
  border-radius: 15px;
  color: #ff7b00;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-send {
  border-color: #ff7b00;
  background-color: transparent;
  border-radius: 50px;
  color: #ff7b00;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: "Kosugi Maru", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.app-input-label {
  color: #ff7b00;
  font-size: 14px;
}

.app-btn {
  background-color: #ff7b00;
  padding: 25px 25px 25px 25px;
  border-radius: 15px;
}

.app-input:focus {
  outline-color: #ff912a;
}

.app-send:focus {
  outline-color: #ff912a;
}

.app-navbarbtn:hover {
  cursor: pointer;
}
